 <div id="page-container">
    <div id="sidebar" ng-controller="sidebarController">
      <div>
        <img src="img/UppiddeePNG3.png" width="223" height="65" />
      </div>

      <div class="title-container">
      </div>

      <div class="title">
        <h1>Journal</h1>
        <h2>Lorem ipsum dolor sit amet, consectutor adipisicing elit.</h2>
      </div>

      <div>
          <a id="ADDBUTTON" class="add_button" href="#/add"   style="color:white" ng-click="add_new()">
            <img alt="add_photo" src="img/add_white.png"  height="35" width="35" />
           Add
          </a>
      </div>
      
      <div class="search">
        <form>
          <input type="text" name="txtSearch" placeholder="Search" />
          <button>
            <span>
            ▶
          </span></button>
        </form>
      </div>
      <div class="filters">
        <h2>Filters</h2>
        <ul>
          <li>
            <fancy-input type="checkbox" check-id="wellbeing" is-checked="selected_category.wellbeing"
                    check-name="wellbeing"
                    check-value="wellbeing" scale="0.5"
                    colour="{{ 'wellbeing' | colourTheme }}">
            </fancy-input>
            <span>Wellbeing</span>
          </li>

          <li>
            <fancy-input type="checkbox" check-id="creativity" is-checked="selected_category.creativity"
                  check-name="creativity"
                  check-value="creativity" scale="0.5"
                  colour="{{ 'creativity' | colourTheme }}">
            </fancy-input>
            <span>Creativity</span>
          </li>

          <li>
            <fancy-input type="checkbox" check-id="community" is-checked="selected_category.community"
                    check-name="community"
                    check-value="community" scale="0.5"
                    colour="{{ 'community' | colourTheme }}">
            </fancy-input>
            <span>Community</span>
          </li>
          <li>
            <fancy-input type="checkbox" check-id="productivity" is-checked="selected_category.productivity"
                    check-name="productivity"
                    check-value="productivity" scale="0.5"
                    colour="{{ 'productivity' | colourTheme }}">
            </fancy-input>
            <span>Productivity</span>
          </li>
          <li>
            <fancy-input type="checkbox" check-id="activity"
            is-checked="selected_category.activity"
                  check-name="activity"
                  check-value="activity" scale="0.5"
                  colour="{{ 'activity' | colourTheme }}">
            </fancy-input>
            <span>Activity</span>
          </li>
        </ul> <!-- End of Filters Selection -->

      </div>
    
    </div> <!-- End Sidebar -->
    <div id="main-section">
      <header class="main-header">
        <div id="toolbar">
          <ul>
            <li>Logout</li>
            <li>Settings</li>
            <li>Metrics</li>
          </ul>
        </div>
        <nav>
          <ul>
            <li>Dashboard</li>
            <li>Wellbeing</li>
            <li>Community</li>
            <li>Creativity</li>
          </ul>
        </nav>
      </header>

      <div class="content" ng-view>
        <!-- ng-view will be here -->
       

      </div>
    </div><!-- End Cotent -->
    <!-- <footer class="main-footer">
      <address>Colab, Letterkenny Institute of Technology, Co. Donegal, Ireland 2013 Uppiddee. </address>
      <span>All rights reserved. Privacy Policy</span> 
      <ul>
        <li><a href="">Blog</a<</li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </footer> -->
    <div class="push"></div>
  </div>
  <footer class="main-footer">
    <div class="footer-container">
      <address>Colab, Letterkenny Institute of Technology, Co. Donegal, Ireland 2013 Uppiddee. </address>
      <span>All rights reserved. Privacy Policy</span> 
      <ul>
        <li><a href="">Blog</a<</li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
    </div>
  </footer>
 
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
