div.new-journal .left-column {
  width: 430px;
  float: left;
  position: relative;
  top: -340px; }

div.new-journal .right-column {
  /*	background-color: green;*/
  width: 264px;
  float: right; }

div.new-journal .right-column a {
  text-decoration: none;
  color: #666666;
  font-size: 1.4em;
  display: inline-block;
  padding-bottom: 4px; }

div.new-journal .right-column a:hover {
  color: lightgray; }

div.new-journal .right-column p:first-child a {
  font-size: 2.0em;
  margin-bottom: 14px; }

#add-new-journal {
  background-color: #999999;
  font-family: 'HelveticaThin', sans-serif;
  /*font-weight: bold;*/
  padding-left: 30px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 12px; }
  #add-new-journal img.image-preview {
    margin-top: 16px;
    margin-right: 10px;
    float: right; }
  #add-new-journal textarea {
    width: 100%;
    resize: none; }

#add-new-journal a {
  text-decoration: none;
  color: white; }

#add-new-journal li {
  height: 26px; }

#add-new-journal li span {
  position: relative;
  top: 10px;
  left: -8px;
  color: white; }

#add-new-journal .success {
  border: 2px solid green; }

#add-new-journal .error {
  border: 2px solid red; }

#addPhotoUpload {
  /*background-color: yellow;*/
  float: right;
  position: relative; }

#addPhotoUpload input[type=file] {
  float: right;
  opacity: 0;
  width: 130px;
  position: absolute; }

#addPhotoUpload input[type=file]:hover + h2 {
  cursor: pointer;
  color: gray; }

#addPhotoUpload img {
  position: relative;
  top: 3px; }

#add-new-journal h2 {
  font-size: 1.7em; }

#addPhotoUpload h2 {
  color: white;
  font-size: 1.3em;
  padding-top: 2px; }

#addPhotoUpload .image-preview {
  float: right; }

#add-new-journal header {
  margin-bottom: 6px; }

#add-new-journal input[type="text"] {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px; }

#add-new-journal footer {
  text-align: right; }

#add-new-journal footer button {
  border: none;
  background: none;
  color: white;
  padding: 0; }

#add-new-journal footer button:first-child:after {
  content: '|';
  padding-left: 6px; }

.journal-tab-list {
  margin-top: 26px; }

.journal-tab-list li {
  margin-top: 8px;
  margin-bottom: 8px;
  -webkit-transition: -webkit-transform .3s ease;
  -moz-transition: -moz-transform .3s ease;
  -ms-transition: -ms-transform .3s ease;
  transition: transform .3s ease; }

.journal-tab-list li:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03); }

.move-class-add, .move-class-remove {
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s; }

.move-class,
.move-class-add.move-class-add-active {
  top: 0px !important; }

.journal-tab-list .add-items.ng-enter {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 0; }

.journal-tab-list .add-items.ng-enter.ng-enter-active {
  opacity: 1; }
