div.public-journal{
	position: relative;
}

div.public-journal div.loading-screen{
	position:absolute;
	background-color: gray;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

div.public-journal ul.journal-card-list li{
	/*padding-top: 10px;
	padding-left: 10px;*/
	
}

div.public-journal .column-panel ul{
	display: inline-block;
	vertical-align: top;
}

div.public-journal .column-panel .journal-card{
-webkit-transition: -webkit-transform .3s ease;
	-moz-transition: -moz-transform .3s ease;
	-ms-transition: -ms-transform .3s ease;
	transition: transform .3s ease;
	
}

div.public-journal .column-panel .journal-card:hover{
	
	-webkit-transform: scale(1.04);
	-moz-transform:scale(1.04);
	-ms-transform:scale(1.04);
	transform:scale(1.04);
	
}